@tailwind base;
@tailwind components;
@tailwind utilities;

.quill{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #e5e5e5;
}

.quill .ql-toolbar{
    border: 0px !important;
    border-bottom: 1px solid #bbb !important;
}
.quill .ql-container{
    border:0px  !important;
    min-height: 400px;
}